#shop-section {
  display: flex;
  margin: 50px 0px 0px 80px;
  justify-content: space-evenly;
  .seach-sct {
    width: 320px;
    height: 100vh;
    border-right: 1px solid #a1a1a180;
    .input {
      display: flex;
      gap: 5px;
      input {
        width: 190px;
        height: 50px;
        border: 1px solid #a1a1a180;
        padding: 12px;
      }
      .fa-magnifying-glass {
        width: 50px;
        height: 50px;
        background-color: #74a84a;
        color: white;
        text-align: center;
        line-height: 50px;
      }
    }
    .seach-sct-cont {
      display: flex;
      flex-direction: column;
      align-items: center;

      .range_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 100px auto;
      }

      .sliders_control {
        position: relative;
        min-height: 50px;
      }

      .form_control {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        color: #635a5a;
      }

      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #c6c6c6;
        cursor: pointer;
      }

      input[type="range"]::-moz-range-thumb {
        pointer-events: all;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #c6c6c6;
        cursor: pointer;
      }

      input[type="range"]::-webkit-slider-thumb:hover {
        background: #f7f7f7;
      }

      input[type="range"]::-webkit-slider-thumb:active {
        box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
        -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
      }

      input[type="number"] {
        color: #8a8383;
        width: 50px;
        height: 30px;
        font-size: 20px;
        border: none;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        opacity: 1;
      }

      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: #c6c6c6;
        pointer-events: none;
      }

      #fromSlider {
        height: 0;
        z-index: 1;
      }
    }

    .categories {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #74a84a;
      .categories-name {
        font-weight: 700;
      }
      .ul li {
        margin-left: 40px;
        a {
          color: #74a84a;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
  @media only screen and (max-width: 1070px) {
    .seach-sct {
      width: 100%;
      height: 500px;
      border-right: 0px solid #a1a1a180;
    }
  }
  .shop-container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .spantxt {
      color: #777777;
    }
    .sct-name {
      font-size: 50px;
      color: #74a84a;
      margin-bottom: 20px;
    }
    .select {
      display: flex;
      justify-content: space-between;
      padding-right: 33px;
      span {
        color: #585858;
      }
    }
    .card-container {
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 10px;
      .card-box1 {
        height: 335px;
        .box1-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box1-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box1-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }
      .card-box2 {
        height: 335px;
        .box2-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box2-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box2-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }
      .card-box3 {
        height: 335px;
        .box3-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box3-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box3-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }
      .card-box4 {
        height: 335px;
        .box4-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box4-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box4-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }
      .card-box5 {
        height: 335px;
        .box5-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box5-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box5-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }
      .card-box6 {
        height: 335px;
        .box6-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box6-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box6-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }
      .card-box7 {
        height: 335px;
        .box7-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box7-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box7-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }

      .card-box8 {
        height: 335px;
        .box8-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box8-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box8-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }

      .card-box9 {
        height: 335px;
        .box9-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box9-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box9-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }

      .card-box10 {
        height: 335px;
        .box10-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box10-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box10-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }

      .card-box11 {
        height: 335px;
        .box11-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box11-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box11-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }

      .card-box12 {
        height: 335px;
        .box12-img {
          position: relative;
          max-width: 235px;
          min-height: 235px;
          cursor: pointer;
          .fa-solid {
            opacity: 0;
            color: green;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: inline-block;
            background-color: white;
            text-align: center;
            line-height: 30px;
            transition: 300ms;
          }
          .atc {
            position: absolute;
            top: 15px;
            right: 50px;
            width: 90px;
            height: 24px;
            background-color: green;
            color: white;
            text-align: center;
            line-height: 24px;
            font-size: 14px;
            border-radius: 5px;
            opacity: 0;
            transition: 300ms;
          }
          .fa-solid:hover + .atc {
            display: block;
            opacity: 1;
          }
        }
        .box12-img:hover .fa-solid {
          opacity: 0.7;
        }
        .box12-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          .Posters {
            font-size: 15px;
            opacity: 0.6;
          }
          .Poster-V1 {
            font-size: 16px;
          }
          .cost {
            color: #585858;
          }
        }
      }
    }
    @media only screen and (max-width: 700px) {
      .card-container {
        grid-template-columns: auto auto !important;
      }
    }
    @media only screen and (max-width: 550px) {
      .card-container {
        grid-template-columns: auto !important;
      }
    }
  }
}

@media only screen and (max-width: 1070px) {
  #shop-section {
    flex-direction: column;
  }
  .seach-sct {
    width: 100%;
    height: 300px;
    border-right: 1px solid #a1a1a180;
  }
}
